<!DOCTYPE html>
<html AMP lang="<%= current_language %>">
<head>
<meta charset="UTF-8" />
<title><%= title = html_title %></title>
<link rel="canonical" href="<%= url_for :only_path => false %>" />
<meta name="description" content="<%= html_description %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
<%= yield :header_tags -%>

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>

  <div id="content">
    <%= raw yield.gsub(/\<img .+>/, '').gsub(/style=".*"/, '') %>
    <%= call_hook :view_layouts_base_content %>
  </div>

</body>
</html>
